@import "tailwindcss";

:root {
  /* Color Palette */
  --color-heading-primary: #4f4a34;
  --color-heading-secondary: #8b7355;
  --color-text-primary: #5b5447;
  --color-text-secondary: #aca091;
  --color-text-tertiary: #9a8b7a;
  --color-accent: #7a7369;
  --color-border: #d4c8b5;
  --color-border-hover: #8b7355;
  --color-background: #f3ebdf;
  --color-background-light: #f9f5ee;
  --color-background-overlay: #c7a58c;

  /* Font Families */
  --font-heading: "Baskerville", serif;
  --font-body: system-ui, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

input,
textarea {
  cursor: text;
  caret-color: transparent;
}

.image-transition {
  transition: opacity 1.5s ease-in-out;
}

.form-input::placeholder {
  color: var(--color-border);
  opacity: 1;
}

.form-input:focus {
  outline: none;
  border-color: #8b7e6a;
}

.form-textarea::placeholder {
  color: var(--color-border);
  opacity: 1;
}

.form-textarea:focus {
  outline: none;
  border-color: #8b7e6a;
}

.srisakdi-regular {
  font-family: "Srisakdi", system-ui;
  font-weight: 400;
  font-style: normal;
}

.srisakdi-bold {
  font-family: "Srisakdi", system-ui;
  font-weight: 700;
  font-style: normal;
}

@theme {
  --animate-fade-in: fade-in 1.2s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
